.project__header-bar {
    background-color: var(--pallete-color-black-1);
    min-height: var(--bar-height);
    height: var(--bar-height);
    @apply flex justify-between items-center p-1.5;
}

.project__header-bar__title {
    @apply ml-1.5 select-none;
}

.project-action-separator {
    height: 20px;
    width: 1px;
    background-color: var(--pallete-color-black-4);
}