:root {
    --pallete-color-black-1: rgb(28, 34, 39);
    --pallete-color-black-2: rgb(35, 40, 47);
    --pallete-color-black-3: rgb(47, 54, 63);

    --pallete-color-main-1: rgb(22, 36, 159);
    --pallete-color-main-2: rgb(35, 52, 187);

    --pallete-color-green-1: #0c8a0c;
    --pallete-color-green-2: #0da40d;
    --pallete-color-red-1: #e11f1f;
    --pallete-color-red-2: #f63e3e;
    --pallete-color-yellow-1: #d59312;
    --pallete-color-yellow-2: #e7a10d;

    --pallete-text-main: rgb(200, 200, 200);
    --pallete-text-aside: rgb(131, 131, 131);

    --ratio-1: 40px;
    --ratio-2: 20px;
    --ratio-3: 10px;
    --ratio-4: 5px;

    --border-radius-container: 6px;
    --border-radius-item: 3px;
    --border-radius-total: 999px;

    --border-trace: 1px solid var(--pallete-color-black-3);

    --action-padding-1: 0px 16px;
    --action-ratio-1: 40px;

    --shadow-item-1: 0 2px 1px rgba(0, 0, 0, 0.15);

    --container-width-1: 800px;
    --container-width-2: 600px;

    --text-size-little: 0.9em;
    --text-size-headline: 1.25em;
    --text-size-title: 1.6em;

    --background-hover-transition: background-color 0.1s ease-in;
}