:root {
    --pallete-color-black-1: rgb(29, 31, 33);
    --pallete-color-black-2: rgb(38, 40, 42);
    --pallete-color-black-3: rgb(49, 54, 58);
    --pallete-color-black-4: rgb(54, 59, 63);
    --pallete-color-main-1: rgb(45, 61, 189);
    --pallete-color-green-1: #0c8a0c;
    --pallete-color-green-2: #0da40d;
    --pallete-color-red-1: #e11f1f;
    --pallete-color-red-2: #f63e3e;
    --pallete-color-yellow-1: #d59312;
    --pallete-color-yellow-2: #e7a10d;
    --pallete-text-main: rgb(200, 200, 200);
    --pallete-text-aside: rgb(131, 131, 131);

    --border-trace: 1px solid var(--pallete-color-black-3);

    --action-height: 32px;

    --container-width-1: 800px;
    --container-width-2: 500px;

    --text-size-normal: 13px;
    --text-size-little: 12px;
    --text-size-headline: 17px;
    --text-size-title: 21px;

    --background-hover-transition: background-color 0.1s ease-in;
}