.coder__explorer__item {
    width: 100%;
    height: var(--base-height);
    flex-shrink: 0;
    user-select: none;
    padding-right: var(--ratio-3);
}

.coder__explorer__item:hover {
    background-color: var(--pallete-color-black-3);
}