.u-column {
    display: flex;
    flex-direction: column;
}

.u-row {
    display: flex;
    flex-direction: row;
}

.u-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.u-gap-1 {
    gap: var(--ratio-1);
}

.u-gap-2 {
    gap: var(--ratio-2);
}

.u-gap-3 {
    gap: var(--ratio-3);
}

.u-gap-4 {
    gap: var(--ratio-4);
}

.u-wrap {
    flex-wrap: wrap;
}

.u-total-center {
    display: grid;
    place-items: center;
}

.u-align-i-center {
    align-items: center;
}

.u-align-i-start {
    align-items: flex-start;
}

.u-justify-i-start {
    justify-content: flex-start;
}

.u-justify-i-end {
    justify-content: flex-end;
}

.u-justify-i-between {
    justify-content: space-between;
}

.u-justify-i-center {
    justify-content: center;
}

.u-align-s-end {
    align-self: end;
}

.u-align-s-start {
    align-self: start;
}

.u-align-i-stretch {
    align-content: stretch;
}

.u-justify-s-end {
    justify-self: start;
}

.u-width-cover {
    width: 100% !important;
}

.u-height-cover {
    height: 100% !important;
}

.u-all-cover {
    height: 100% !important;
    width: 100% !important;
}

.u-width-fit {
    width: fit-content !important;
}
